[user]
    email = brage.wis@gmail.com
    name = Brage
[init]
    defaultBranch = main
[core]
    editor = hx
    pager = delta
[http]
    postBuffer = 157286400
[pull]
    ff = only
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    side-by-side = true
[merge]
    conflictStyle = zdiff3
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[alias]
	count = rev-list --left-right --count
	l = log --oneline --graph
    sw = switch
    st = status
    cm = commit
    ps = push
    pl = pull
    rb = rebase
    df = diff
